/*Layout Styles*/

body{
	padding-top: 50px;
}

input[type="text"]{
	height: 30px;
}

.iconable{
	padding-left: 20px;
}

.container-results{
	margin: 20px 0;
	text-align: left;
}

.starter-template {
	margin: 20px;
  	padding: 10px 0 10px 0;
  	text-align: center;
  	border: 1px solid #e2e2e2;
  	border-radius: 20px;  	
}

.starter-template .container-title{
	margin-top: 80px;
}

.image-list{
	margin: 50px 0;
	padding: 0;	
	width: 100%;
	background-color: #e2e2e2;
}

.image-list img{
	width: 150px;
	height: 100px;
	margin: 0;
	padding: 0;
}

@media (max-width: 480px) {
	.image-list img {
	    width: 50px;
		height: 20px;
	}
}

@media (max-width: 768px) {
	.image-list img {
	    width: 130px;
		height: 90px;
	}
}

.sign{
	margin-top: 20px;
	margin-bottom: 0;
}

footer{
	clear: both;
    position: fixed;
    bottom: 0;
    text-align: center;    
    padding: 10px;
    border: 1px solid #e2e2e2;
}

/*End Layout Styles*/

.thumbnail{ padding: 0;}

.carousel-control, .item{
     border-radius: 4px;
}

.caption{
    height: 130px;
    overflow: hidden;
}

.caption h4
{
    white-space: nowrap;
}

.thumbnail img{
  width: 100%;
}

.ratings 
{
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

/* Search in the navigation bar */

.form-control.selectize-control{
  height: 34px;
}

.selectize-dropdown-content img{ width:20px; height:20px; margin-right: 3px; float:left; }

.selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 10px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(../img/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.selectize-control.loading::before {
    opacity: 1;
}

.contenedor-categoria{
	font-size: 10px;
	font-weight: bold;
}

#pickup {
    overflow: hidden;
    margin-bottom: 20px;
}

#map-canvas{
	display: none;
    width: 100%;
    height: 150px;
}

/* End Selectize */


/* Search : Result styles */

.search-form-results{
	margin: 20px 0;
	padding: 15px 0 0 0;
	background-color: whitesmoke;
	border: 1px solid #e2e2e2;	
}

.result-template{
	border: solid 1px #e2e2e2;
	border-width: 1px 0 0 0;
	padding: 20px;
}

.result-template .box{
	display: inline-block;
	margin: 5px;
}

.result-commands button{
	height: 25px;
	width: 10px;
	border: 1px solid gray;
	margin-bottom: 5px;
	display: list-item;
}

/* Command buttons */
.icon-up, .icon-point, .icon-down{
	background: url(../img/bootstrap/glyphicons-halflings-black.png) no-repeat;		
}

.icon-up{
	background-position: -289px -97px;
}

.icon-point{	
	background-position: -289px -1px;
}

.icon-down{	
	background-position: -312px -97px;
}

/* End Command buttons */

/* Details result styles */

.result-template .result-description .result-location{
	background: no-repeat url(../img/general/location.png);	
}

.result-template .result-description .result-tags{
	background: no-repeat url(../img/general/tag.png);	
}

.result-template .result-description .result-date{
	background: no-repeat url(../img/general/calendar.png);	
}

.result-amount{
	width: 10%;
	font-size: 20px;
	text-align: center;
}

.result-description{
	font-size: 16px;
}

.result-details{
	font-size: 12px;
}

/* End Details result styles */